@import 'grid';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica', 'Helvetica-Neue', 'Arial', 'sans-serif';
  text-align: center;
}

h1 {
  font-size: 16px;
  color: #333333;
  margin: 20px 0;
}

.full-width-container {
  @include container();
}

.column {
  background: #e57877;
  height: 150px;
  line-height: 150px;
  color: white;

  &.column1-3 {
    @include column(1, 3);
  }

  &.column2-3 {
    @include column(2, 3);
  }

  &.column {
    font-size: 12px;
  }
}

.max-width-container {
  @include container($max-width: 960px);
}

.margin-container {
  @include container($margin: 20px);
}

.equal-columns-container {
  @include container();
  @include columns('column', 1, 12);

  .column {
    font-size: 12px;
  }
}

.equal-columns-with-media-queries-container {
  @include container();

  @media (min-width: 1024px) {
    @include columns('column', 1, 12);
  }

  @media (min-width: 586px) and (max-width: 1024px) {
    @include columns('column', 1, 6);
  }

  @media (max-width: 586px) {
    @include columns('column', 1, 2);
  }
}
