/*
 * GRID
 * Author: Bruno Stein
 * Github: https://github.com/brunohstein/grid
 */
/*
 * GRID SIZES
 * Change these variables for customization
 */
/*
 * HELPER
 * Properties with REM and PX fallback
 */
/*
 * GRID MIXINS
 * You don't need to touch this
 */
/*
 * GRID HELPERS
 * Helpers classes
 */
.grid-align-right {
  text-align: right; }

.grid-align-left {
  text-align: left; }

.grid-align-center {
  text-align: center; }

.grid-container {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  font-size: 0;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
  display: block; }
  .grid-container:last-of-type {
    margin-bottom: 0; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Helvetica', 'Helvetica-Neue', 'Arial', 'sans-serif'; }

h1 {
  font-size: 16px;
  color: #333333;
  margin: 20px 0; }

.container {
  max-width: 1400px;
  max-width: 87.5rem;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  font-size: 0;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
  display: block;
  margin-top: 20px; }
  .container:last-of-type {
    margin-bottom: 0; }

.sidebar {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: calc(((((100% - (20px * (4 - 1))) * 1) / 4)) + (20px * (1 - 1)));
  width: calc(((((100% - (20px * (4))) * 1) / 4)) + (20px * (1 - 1))) \9;
  margin-right: 20px;
  margin-right: 1.25rem;
  font-size: 1rem;
  transition: width 1s;
  text-align: left; }
  .sidebar:last-of-type {
    margin-right: 0; }
  @media (max-width: 586px) {
    .sidebar {
      box-sizing: border-box;
      display: inline-block;
      vertical-align: top;
      width: calc(((((100% - (20px * (1 - 1))) * 1) / 1)) + (20px * (1 - 1)));
      width: calc(((((100% - (20px * (1))) * 1) / 1)) + (20px * (1 - 1))) \9;
      margin-right: 20px;
      margin-right: 1.25rem;
      font-size: 1rem;
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
      margin-bottom: 1.25rem;
      transition: width 1s; }
      .sidebar:last-of-type {
        margin-right: 0; }
      .sidebar:last-of-type {
        margin-bottom: 0; } }

.sidebar__item {
  line-height: 20px;
  padding: 0 20px 20px;
  cursor: pointer;
  color: #333333;
  font-size: 13px; }
  .sidebar__item.is-active {
    color: #999999; }
  @media (max-width: 586px) {
    .sidebar__item {
      display: inline-block; } }

.main {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: calc(((((100% - (20px * (1.33333 - 1))) * 1) / 1.33333)) + (20px * (1 - 1)));
  width: calc(((((100% - (20px * (1.33333))) * 1) / 1.33333)) + (20px * (1 - 1))) \9;
  margin-right: 20px;
  margin-right: 1.25rem;
  font-size: 1rem;
  transition: width 1s;
  text-align: center;
  background: #fafafa; }
  .main:last-of-type {
    margin-right: 0; }
  @media (max-width: 586px) {
    .main {
      box-sizing: border-box;
      display: inline-block;
      vertical-align: top;
      width: calc(((((100% - (20px * (1 - 1))) * 1) / 1)) + (20px * (1 - 1)));
      width: calc(((((100% - (20px * (1))) * 1) / 1)) + (20px * (1 - 1))) \9;
      margin-right: 20px;
      margin-right: 1.25rem;
      font-size: 1rem;
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
      margin-bottom: 1.25rem;
      transition: width 1s; }
      .main:last-of-type {
        margin-right: 0; }
      .main:last-of-type {
        margin-bottom: 0; } }

.panel {
  display: none; }
  .panel.is-active {
    display: block; }

.full-width-container {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  font-size: 0;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
  display: block; }
  .full-width-container:last-of-type {
    margin-bottom: 0; }

.column {
  background: #6BB6DA;
  height: 150px;
  line-height: 150px;
  color: white; }
  .column.column1-2 {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: calc(((((100% - (20px * (2 - 1))) * 1) / 2)) + (20px * (1 - 1)));
    width: calc(((((100% - (20px * (2))) * 1) / 2)) + (20px * (1 - 1))) \9;
    margin-right: 20px;
    margin-right: 1.25rem;
    font-size: 1rem;
    transition: width 1s; }
    .column.column1-2:last-of-type {
      margin-right: 0; }
  .column.column1-3 {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: calc(((((100% - (20px * (3 - 1))) * 1) / 3)) + (20px * (1 - 1)));
    width: calc(((((100% - (20px * (3))) * 1) / 3)) + (20px * (1 - 1))) \9;
    margin-right: 20px;
    margin-right: 1.25rem;
    font-size: 1rem;
    transition: width 1s; }
    .column.column1-3:last-of-type {
      margin-right: 0; }
  .column.column2-3 {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: calc(((((100% - (20px * (1.5 - 1))) * 1) / 1.5)) + (20px * (1 - 1)));
    width: calc(((((100% - (20px * (1.5))) * 1) / 1.5)) + (20px * (1 - 1))) \9;
    margin-right: 20px;
    margin-right: 1.25rem;
    font-size: 1rem;
    transition: width 1s; }
    .column.column2-3:last-of-type {
      margin-right: 0; }
  .column.column {
    font-size: 12px; }

.max-width-container {
  max-width: 600px;
  max-width: 37.5rem;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  font-size: 0;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
  display: block; }
  .max-width-container:last-of-type {
    margin-bottom: 0; }

.min-width-container {
  min-width: 600px;
  min-width: 37.5rem;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  font-size: 0;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
  display: block; }
  .min-width-container:last-of-type {
    margin-bottom: 0; }

.margin-container {
  padding: 0 50px;
  padding: 0 3.125rem;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  font-size: 0;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
  display: block; }
  .margin-container:last-of-type {
    margin-bottom: 0; }

.equal-columns-container {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  font-size: 0;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
  display: block; }
  .equal-columns-container:last-of-type {
    margin-bottom: 0; }
  .equal-columns-container .column {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: calc(((((100% - (20px * (12 - 1))) * 1) / 12)) + (20px * (1 - 1)));
    width: calc(((((100% - (20px * (12))) * 1) / 12)) + (20px * (1 - 1))) \9;
    margin-right: 20px;
    margin-right: 1.25rem;
    font-size: 1rem;
    transition: width 1s;
    margin-bottom: 20px;
    margin-bottom: 1.25rem; }
    .equal-columns-container .column:last-of-type {
      margin-right: 0; }
    .equal-columns-container .column:nth-child(12n) {
      margin-right: 0; }
    .equal-columns-container .column:nth-last-child(-n + 12) {
      margin-bottom: 0; }
  .equal-columns-container .column {
    font-size: 12px; }

.equal-columns-with-media-queries-container {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  font-size: 0;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
  display: block; }
  .equal-columns-with-media-queries-container:last-of-type {
    margin-bottom: 0; }
  @media (min-width: 1024px) {
    .equal-columns-with-media-queries-container .column {
      box-sizing: border-box;
      display: inline-block;
      vertical-align: top;
      width: calc(((((100% - (20px * (12 - 1))) * 1) / 12)) + (20px * (1 - 1)));
      width: calc(((((100% - (20px * (12))) * 1) / 12)) + (20px * (1 - 1))) \9;
      margin-right: 20px;
      margin-right: 1.25rem;
      font-size: 1rem;
      transition: width 1s;
      margin-bottom: 20px;
      margin-bottom: 1.25rem; }
      .equal-columns-with-media-queries-container .column:last-of-type {
        margin-right: 0; }
      .equal-columns-with-media-queries-container .column:nth-child(12n) {
        margin-right: 0; }
      .equal-columns-with-media-queries-container .column:nth-last-child(-n + 12) {
        margin-bottom: 0; } }
  @media (min-width: 586px) and (max-width: 1024px) {
    .equal-columns-with-media-queries-container .column {
      box-sizing: border-box;
      display: inline-block;
      vertical-align: top;
      width: calc(((((100% - (20px * (6 - 1))) * 1) / 6)) + (20px * (1 - 1)));
      width: calc(((((100% - (20px * (6))) * 1) / 6)) + (20px * (1 - 1))) \9;
      margin-right: 20px;
      margin-right: 1.25rem;
      font-size: 1rem;
      transition: width 1s;
      margin-bottom: 20px;
      margin-bottom: 1.25rem; }
      .equal-columns-with-media-queries-container .column:last-of-type {
        margin-right: 0; }
      .equal-columns-with-media-queries-container .column:nth-child(6n) {
        margin-right: 0; }
      .equal-columns-with-media-queries-container .column:nth-last-child(-n + 6) {
        margin-bottom: 0; } }
  @media (max-width: 586px) {
    .equal-columns-with-media-queries-container .column {
      box-sizing: border-box;
      display: inline-block;
      vertical-align: top;
      width: calc(((((100% - (20px * (2 - 1))) * 1) / 2)) + (20px * (1 - 1)));
      width: calc(((((100% - (20px * (2))) * 1) / 2)) + (20px * (1 - 1))) \9;
      margin-right: 20px;
      margin-right: 1.25rem;
      font-size: 1rem;
      transition: width 1s;
      margin-bottom: 20px;
      margin-bottom: 1.25rem; }
      .equal-columns-with-media-queries-container .column:last-of-type {
        margin-right: 0; }
      .equal-columns-with-media-queries-container .column:nth-child(2n) {
        margin-right: 0; }
      .equal-columns-with-media-queries-container .column:nth-last-child(-n + 2) {
        margin-bottom: 0; } }

.nested-container {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  font-size: 0;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
  display: block; }
  .nested-container:last-of-type {
    margin-bottom: 0; }
  .nested-container .nested-container {
    padding: 0 20px;
    padding: 0 1.25rem;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    font-size: 0;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
    display: block; }
    .nested-container .nested-container:last-of-type {
      margin-bottom: 0; }
    .nested-container .nested-container .column {
      background: rgba(0, 0, 0, 0.2); }

.space-between-container {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  font-size: 0;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
  display: block;
  text-align: justify; }
  .space-between-container:last-of-type {
    margin-bottom: 0; }
  .space-between-container::after {
    content: '';
    height: 0;
    display: inline-block;
    width: 100%; }
