/*
 * GRID SIZES
 * Change these variables for customization
 */

$grid-margin: 10px;
$grid-gutter: 20px;
$grid-max-width: 1176px;
$base-font-size: 16px;

/*
 * GRID HELPERS
 * Helpers classes
 */

.grid-align-right {
  text-align: right;
}

.grid-align-left {
  text-align: left;
}

.grid-align-center {
  text-align: center;
}

/*
 * GRID MIXINS
 * You don't need to touch this
 */

@mixin container($margin: null, $max-width: null) {
  @if $margin != null {
    padding: 0 $margin;
  }

  @if $max-width != null {
    @if $margin != null {
      max-width: calc(#{$max-width} + (#{$margin} * 2));
    } @else {
      max-width: $max-width;
    }
  }

  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  font-size: 0;
  margin-bottom: $grid-gutter;
  display: block;

  &:last-of-type {
    margin-bottom: 0;
  }
}

@mixin column($size, $space) {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: calc(((((100% - (#{$grid-gutter} * (#{$space} - 1))) * #{$size}) / #{$space})) + (#{$grid-gutter} * (#{$size} - 1)));
  width: calc(((((100% - (#{$grid-gutter} * (#{$space}))) * #{$size}) / #{$space})) + (#{$grid-gutter} * (#{$size} - 1)))\9;
  margin-right: $grid-gutter;
  font-size: $base-font-size;

  &:last-of-type {
    margin-right: 0;
  }

  @if $size == $space {
    width: 100%;
    margin-right: 0;
    margin-bottom: $grid-gutter;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

@mixin columns($class, $size, $space) {
  .#{$class} {
    @include column($size, $space);
    margin-bottom: $grid-gutter;

    &:last-of-type {
      margin-right: 0;
    }

    &:nth-child(#{$space / $size}n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + #{$space}) {
      margin-bottom: 0;
    }
  }
}
